html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1E1E1E;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
}

nav {
    backdrop-filter: blur(23px) saturate(100%);
    -webkit-backdrop-filter: blur(23px) saturate(100%);
    background-color: rgba(50, 50, 46, 0.84);
    border: 1px solid rgba(255, 255, 255, 0.125);

    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
nav img{
    max-width: 45px;
    max-height: 45px; /* Corrected typo */
    border-radius: 50%;
}
  
nav img:hover{
    animation: rotate360 1s linear infinite;
}  

nav h2 {
    margin-right: 20px;
}
  
nav a {
    color: #fff;
    text-decoration: none;
}
  
/* Side items styles */
aside {
    backdrop-filter: blur(23px) saturate(100%);
    -webkit-backdrop-filter: blur(23px) saturate(100%);
    background-color: rgba(50, 50, 46, 0.84);
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
  
aside a {
    display: block;
    color: #ECECEB;
    text-decoration: none;
    padding: 30px;
    margin-bottom: 5px;
    text-align: center;
}
  
aside a:hover {
    background-color: #898987;
}
  
aside a.active {
    background-color: #BBBBB9;
}

.card {
    backdrop-filter: blur(17px) saturate(100%);
    -webkit-backdrop-filter: blur(17px) saturate(100%);
    background-color: rgba(119, 119, 117, 0.76);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}

@keyframes rotate360 {
    to { transform: rotate(360deg);}           
}

/* Responsive styles */
@media only screen and (min-width: 768px) {
    section {
      display: flex;
    }
  
    aside {
      flex: 0 0 15%;
    }
  
    main {
      flex: 1;
    }
}